@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');


html, body {
    height : 100%;
    width: 100%;
    margin: 0 0;
}

.logo {
    padding-top: 18px;
    padding-left: 15%;
    height: 57px;
    width: 261px;
}
header {
    display: flex;   
    justify-content: space-between;
    height: 100px;
    max-width: 1600px;
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 99999;
    background: white;
}

#accueil{
    margin-top:100px;
}

nav > ul{
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin-top: 0;
    margin-right: 15%;
    list-style-type: none;
    align-items: flex-end;
    font-size: 14px;
}
nav > ul > li{
    width: 90px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: #555555; 
    border-top: solid;
    border-color:white;
    height: 100%;
}

nav > ul > li:hover{
    border-top: solid;
    border-color: #5cadd3;
    cursor: pointer;
}

nav > ul > li > a {
    text-decoration: none;
    color:inherit;
    padding-top: 40px;
    padding-bottom: 40px;
}

.slider{
    font-family: 'Roboto', sans-serif;
    position: relative;
    display : block;
    max-width: 1600px;
    max-height : 550px;
    height : 100%;
    width: 100%;
    margin: auto;

}

.slider > figure{
    max-width: 1600px;
    width: 100%;
    display: block;
    margin: auto;

}

.slider_img > img{
    width: 100%;
}

.slider > figure > figcaption {
    width: 30%;
    position: absolute;
    top: 30%;
    left: 15%;
    color: white;
}

.slider > figure > figcaption > h1{
    font-size : 26px;
}

.slider > figure > figcaption > h1 > strong{
    color : #5cadd3;
}

.slider > figure > figcaption > h2{
    font-size : 12px;
}

.slider > figure > figcaption > button {
    background : #5cadd3;
    color : white;
    border-radius: 4px;
    border: none;
    width : 125px;
    height: 48px;
    font-size : 16px;
}

.slider > figure > figcaption > button:hover {
    cursor: pointer;
    background : white;
    color :  #5cadd3;
}

.slider_img{
    position: absolute;
    width : 100%;
    max-height : 550px;
    max-width: 1600px;
    z-index : -1;
}

#i1, #i2{
    display: none;
}

.pre, .nxt{
    width: 50px;
    height: 100px;
    position: absolute;
    top: 45%;
    background: rgba(100,100,100,.4);
    z-index: 99;
    cursor : pointer;
}

.pre {
    left: 0;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
}

.pre > i {
    color : white;
    font-size: 30px;
    margin-top : 35px;
    margin-left : 10px;
}


.nxt {
    right: 0;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
}

.nxt > i {
    color : white;
    font-size: 30px;
    margin-top : 35px;
    margin-left : 15px;
}

#i1:checked ~ #first, #i2:checked ~ #second{
    z-index: 9;
}

#services{
    font-family: 'Roboto', sans-serif;
    max-width: 1600px;
    margin: auto;
}

#services > .subtitle{
    margin: auto;
    text-align:center;
    max-width: 800px;
}

#services > .subtitle > h1{
    font-size: 50px;
    margin: auto;
    margin-top: 50px;
}

#services > .subtitle > p{
    margin-top : 20px;
}

#services > .content{
    display : flex;
}

.spliter{
    display: flex;
    margin: auto;
}

.leftsplit, .rightsplit{
    height: 1px;
    width: 100px;
    background: black;
    margin-top:10px;
    margin: auto;
}

.leftsplit{
    margin-right : 5px;
}
.rightsplit{
    margin-left : 5px;
}

.middlesplit{
    height: 20px;
    width: 20px;
    background: #5cadd3;
    border-radius: 10px;
}